<div class="single_sample_viewer">
    <div class="header">
        <input type="text" size="30" placeholder="Search" />
    </div>

    <div class="content">
        <div class="phyloviz_diagram" [class.has_selected_block]="hasSelectedBlock" [class.navigation_mode]="phylogenyShowTable && hasSelectedBlock">
            <div class="subclone_label">{{phylogenyProportionId}}</div>

            <phylo-node *ngFor="let data of cellData | keyvalue"
                [jsonData]="data.value"
                [sample]="$any(data.value).sample || 'primary'"
                [label]="$any(data.value).label"
                [color]="$any(data.value).color"
                [genes]="$any(data.value).genes || 0"
                [showEndBlock]="$any(data.value).show_end_block || false"
                [children]="$any(data.value).children"
                [key]="$any(data.key)"
            ></phylo-node>
        </div>

<!-- todo: change is_narrow over to a new component called legend -->
<!--
        <div class="legend">
            <phylo-legend *ngFor="let proportionSetEntry of phylogenyProportionSets | keyvalue"></phylo-legend>
        </div>



        <div class="phyloviz_diagram is_narrow" *ngFor="let proportionSetEntry of phylogenyProportionSets | keyvalue"
            [class.selected]="proportionSetEntry.key == phylogenyProportionId"
            [class.navigation_mode]="phylogenyShowTable && hasSelectedBlock"
            (click)="$event.stopPropagation(); selectProportion(proportionSetEntry.key)">

            <div class="subclone_label">{{proportionSetEntry.key}}</div>

            <div class="node">
                <div class="children">
                    <! -- FIXME is this handling click or passing down a click handler? -- >
                    <phylo-node *ngFor="let data of proportionSetEntry.value; index as innerProportionIndex"
                        [showPrimaryBlocks]="true"
                        [blockLabel]="data.proportion + '%'"
                        [color]="data.color"
                        [showStripes]="false"
                        [parentTotal]="data.proportion"
                        [showEndBlock]="false"
                        [showStats]="true"
                        [ignoreScaling]="true"
                        [key]="innerProportionIndex + ''"
                        (click)="selectProportion(proportionSetEntry.key)"
                    ></phylo-node>
                </div>
            </div>
        </div>
-->

    </div>

    <phylo-table *ngIf="hasSelectedBlock && phylogenyShowTable"></phylo-table>
</div>
