/**************** single sample viewer ******************/

@import '../../styles/core';


//**************** css ******************

.diagram_label {
  font: {
    size: .8rem;
    weight: bold;
  }
}

.single_sample_viewer {
  display: flex;
  flex-direction: column;

	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
  z-index: 100;

	color: color_variable('text');
	background: {
		color: color_variable('background');
	}

  &.navigation_mode {
    ::ng-deep phylo-node .summary {
      display: none;
    }

    ::ng-deep phylo-node {
      &.is_selected {
        min: {
          height: 0px;
        }
      }
    }
  }

	.header {
    background: {
      color: #eee;
    }

		padding: ($padding * .25) ($padding);

    .header_container {
      display: flex;
      align-items: center;
      gap: $padding * .5;

      max: {
        width: $page_width;
      }

      margin: {
        right: auto;
        left: auto;
      }
    }

		input {
			padding: ($padding * 0.25);

			border: 1px solid color_variable('header_border');

			@include border-radius($border_radius);
		}

    select {
			padding: ($padding * 0.25);

			border: 1px solid color_variable('header_border');

			@include border-radius($border_radius);
    }

    a:link,
    a:active,
    a:visited {
      color: color_variable('link');

      font: {
        weight: bold;
      }
      text: {
        decoration: none;
      }
    }

    a:hover {
      color: color_variable('link_hover');

      text: {
        decoration: underline;
      }
    }

    .links {
      display: flex;
      gap: $padding * .25;

      font: {
        size: .8rem;
      }

      .link {
        a {
          & + a {
            margin: {
              left: $padding * .2;
            }
            padding: {
              left: $padding * .2;
            }

            border-left: 2px solid color_variable('link');
          }
        }
      }
    }
	}

  .content {
    overflow: {
      x: auto;
      y: auto;
    }

    flex-grow: 1; //to fill the window height

    display: flex;
    justify-content: flex-start;
    align-items: flex-start; //center;

    min: {
      height: 200px;
    }
    max: {
      width: 100%;
    }

    margin: {
      right: auto;
      left: auto;
    }

    padding: 0px $padding;
    padding: {
      top: $padding * 2;
    }

    @include box-sizing(border-box);
  }

  phylo-table {
    flex-grow: 100; //to fill the window height when open

    overflow: {
      y: auto;
    }
  }

  .tree_selector {
  }
}

.phyloviz_diagram {
  position: relative;
  display: flex;

  height: calc(100% - #{$padding * 4});

  margin: {
    top: $padding;
    bottom: $padding;

    right: 160px; //give room for end block
  }

  @include transition(#{height .2s easing($ease-in-out)});

  &.has_selected_block {
    ::ng-deep phylo-node {
      &:not(.is_visible) {
        @include opacity(40);
      }

      &:not(.is_selected) {
        > .block_info {
          width: 5vw;

          .info {
            .label {
              display: none;
            }

            .value {
              div:not(.group) {
                display: none;
              }
            }
          }
        }
      }

      &.is_selected {
        > .block_info {
          width: 25vw;
        }
      }
    }
  }

  &.selected {
    &:after {
      display: block;
    }

    .subclone_label {
      background: {
        color: #fff;
      }

      border: {
        color: color_variable('selected_color');
      }
    }
  }

  .subclone_label {
    color: #888;

    margin: {
      top: -2px;
    }

    font: {
      size: $font_size_min;
      weight: normal;
    }
  }

  .diagram_label {
    position: absolute;
    left: 0px;
    top: -32px;
    z-index: 100;

    white-space: nowrap;

    &.diagram_subclone_label {
      left: calc(100% + 30px); //halfway into end_block

      text: {
        align: center;
      }

      @include translate(-50%, 0%);
    }
  }

    .diagram_purity_percentage {
      position: absolute;
      left: calc(100% + 30px); //halfway into end_block
      top: 100%;
      z-index: 100;

      color: #888;

      margin: {
        top: $padding * .4;
      }

      font: {
        size: $font_size_min;
      }
      text: {
        align: center;
      }

      white-space: nowrap;

      @include translate(-50%, 0%);
    }
}

.legend {
  position: relative;

  background: {
    color: color_variable('legend_background');
  }

  margin: {
    top: $padding * .5;
  }
  padding: ($padding * .75);

  @include border-radius($border_radius * 2);

  .diagram_label {
    position: absolute; //position outside box because legend-samples need 100% of the height (can swap for display flex to fix if needed)
    left: 0px;
    right: 0px;
    bottom: 100%;
    z-index: 100;

    margin: {
      bottom: $padding * .25;
    }

    text: {
      align: center;
    }
  }

  .legend_samples {
    display: flex;

    min-height: 360px;

    @include transition(#{min-height .2s easing($ease-in-out)});
  }

  &.is_collapsed {
    .legend_samples {
      min-height: 0px;
    }
  }
}
