<div class="single_sample_viewer" [class.navigation_mode]="phylogenyShowTable && hasSelectedBlock">
    <div class="header">
        <input type="text" size="30" placeholder="Search" />
    </div>

    <div class="content">
        <div class="phyloviz_diagram" [class.has_selected_block]="hasSelectedBlock">
            <div class="subclone_label">{{phylogenyProportionId}}</div>

            <phylo-node *ngFor="let data of cellData; index as i"
                [jsonData]="data"
                [sample]="data.sample || 'primary'"
                [label]="data.label"
                [color]="data.color"
                [genes]="data.genes || 0"
                [showEndBlock]="data.show_end_block || false"
                [children]="data.children || []"
                [key]="i + ''"
            ></phylo-node>
        </div>

        <div class="legend">
            <phylo-legend-sample *ngFor="let proportionSetEntry of phylogenyProportionSets | keyvalue"
              [id]="proportionSetEntry.key"
              [data]="proportionSetEntry.value"

            ></phylo-legend-sample>
        </div>
    </div>

<!-- todo: change phylo-table ngIf to angular animation so it can grow/shrink before show/hide -->
    <phylo-table *ngIf="hasSelectedBlock && phylogenyShowTable"></phylo-table>
</div>
