<div class="design_token">
  <h4>design tokens. first color is pulled from json, lighter and darker are calculated by sass functions</h4>

  <div class="color color_primary">
    <div class="box"></div>
    <div class="box box_lighter"></div>
    <div class="box box_darker"></div>
    <h2>Primary</h2>
  </div>

  <div class="color color_secondary">
    <div class="box"></div>
    <div class="box box_lighter"></div>
    <div class="box box_darker"></div>
    <h2>Secondary</h2>
  </div>

  <div class="color color_alternative">
    <div class="box"></div>
    <div class="box box_lighter"></div>
    <div class="box box_darker"></div>
    <h2>Alternative</h2>
  </div>
</div>
