<div class="block" [class.is_subclone_block]="displayNode?.cluster">
    <div class="count" *ngIf="false">{{ this.displayNode!.node_name }}</div>
</div>

<div *ngIf="displayNode" class="block_info"><!--  v-if="children || is_selected" -->
    <div class="info" *ngIf="displayNode.children.length > 0 || isFirstSelected">
        <div class="info_container">
            <ng-container *ngIf="displayNode?.cluster">
                <div class="label">Aggregated Totals:</div>
                <div class="value">
                    <div class="group group_red">M: {{parentsAggregate.t1_mutations}}</div>
                </div>
                <div class="value">
                    <div class="group group_blue">G: {{parentsAggregate.t1_cgc_genes}}</div>
                </div>
                <div class="value">
                    <div class="group">D: {{parentsAggregate.drugs}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="!displayNode?.cluster">
                <div class="label">
                    <span class="full">T1&nbsp;</span>M<span class="full">utations</span>:
                </div>
                <div class="value">
                    <div class="group group_red">t1_mutations</div>
                    <div class="full">/jsonData?.mutations</div>
                </div>
                <div class="label">
                    <span class="full">C</span>G<span class="full">C Genes</span>:
                </div>
                <div class="value">
                    <div class="group group_blue">t1_cgc_genes</div>
                    <div class="full">/genes</div>
                </div>
                <div class="label">
                    D<span class="full">rugs</span>:
                </div>
                <div class="value">
                    <div class="group">drugs</div>
                </div>
            </ng-container>
        </div>

        <div class="summary" *ngIf="false">
            <div class="summary_header">Mutation Edge Info</div>
            <div class="summary_table">
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let column of summaryColumns" [ngClass]="'column_' + column.field">
                                {{column.label}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of []" (click)="$event.stopPropagation(); onToggleTable(data.tier)">
                            <td *ngFor="let column of summaryColumns" [ngClass]="'column_' + column.field">
                                <div class="group group_red">
                                    {{$any(data)[column.field]}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="summary_button" (click)="$event.stopPropagation(); onToggleTable(undefined)">{{(!showTable) ? 'Open in' : 'Hide'}} Table</div>
        </div>
    </div>

    <div class="block_background" *ngIf="displayNode.children.length > 0">
        <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
            <linearGradient x1="0" y1="0" x2="100%" y2="0" [id]="gradientId">
                <stop class="gradient_start" offset="0" />
                <stop class="gradient_end" offset="100%" />
            </linearGradient>
            <path class="curve_background" style="stroke-miterlimit:10;" [attr.fill]="'url(#' + gradientId + ')'" d="M0 0 C 0 20, 100 20, 100 0 L 100 100 C 100 80, 0 80, 0 100 L 0 0" vector-effect="non-scaling-stroke"></path>
            <path class="curve_selected_white" style="stroke-miterlimit:10;" fill="none" d="M0 0 C 0 20, 100 20, 100 0 L 100 100 C 100 80, 0 80, 0 100 L 0 0" vector-effect="non-scaling-stroke"></path>
            <path class="curve_selected" style="stroke-miterlimit:10;" fill="none" d="M0 0 C 0 20, 100 20, 100 0 L 100 100 C 100 80, 0 80, 0 100 L 0 0" vector-effect="non-scaling-stroke"></path>
        </svg>
    </div>
</div>

<div class="children">
    <phylo-node *ngFor="let child of displayNode?.children; index as index"
        [displayNode]="child"
    ></phylo-node>
</div>

<div class="end_block" *ngIf="displayNode?.cluster">
    <div class="percentage">{{ displayNode!.prevalence }}%</div>
</div>
