<div class="modal_container" (click)="$event.stopPropagation();">
  <div class="modal_header">Select Data for Display</div>

  <div class="modal_content">
    <div class="dataset_list">
      <label *ngFor="let dataset of demoDataSets" class="dataset" (click)="onFileDeselected(); fileUpload.value = '';">
        <input type="radio" name="dataset" [value]="dataset" [(ngModel)]="selection" />
        <div class="name">{{ dataset.label }}</div>
        <div class="badge">Demo</div>
      </label>

      <label class="dataset">
        <input type="radio" name="dataset" [value]="userDataSet" [(ngModel)]="selection" />
        <div class="name">{{ userDataSet.label }}</div>

        <input type="file" class="file_input_hidden" (change)="onFileSelected($any($event.target).files[0])" #fileUpload>
        <div *ngIf="selection === userDataSet" class="browse_button" (click)="fileUpload.click()">Browse for your file</div>
      </label>
    </div>

<!-- todo: only show these steps flow when the "your dataset" is selected and only show one at a time as needed (before uploaded file, during validation, and after validated -->
    <div *ngIf="selection === userDataSet" class="upload_dataset">
      <div class="step">
        <div class="links">
          <a href="https://raw.githubusercontent.com/ncsa/phylodiver-viz/develop/src/assets/Griffith_et_al_AML.json" target="_blank" title="Sample JSON File" class="link">Sample JSON</a>
          <a href="https://raw.githubusercontent.com/ncsa/phylodiver-viz/develop/src/assets/Griffith_et_al_AML.json" target="_blank" title="Instructions for aggregation tool" class="link">Aggregation Tool</a>
        </div>
      </div>

      <div *ngIf="userDataState === DataState.VALIDATING" class="step step_emphasis">
        Validating...57%
        <!-- todo: percentage is optional, if unable to determine the upload and validation percentage, change this to 100% width and remove from label above -->
        <div class="step_progress" style="width: 57%;"></div>
      </div>

      <div *ngIf="userDataState === DataState.READY" class="step">
        <div class="label">You selected:</div>
        <div class="selected_filename">{{ selection.label }} <div class="remove_button" (click)="onFileDeselected(); fileUpload.value = '';">X</div></div>
      </div>
    </div>
  </div>

  <div class="modal_footer">
    <div class="button button_plain" (click)="close();$event.stopPropagation();">Cancel</div>
    <div class="button" [class.disabled]="selection === null || (selection === userDataSet && userDataState !== DataState.READY)" (click)="loadDataSet();$event.stopPropagation();">Launch</div>
  </div>
<div>
