<div class="legend_node_label">{{legendSample!.sample.name}}</div>

<div class="nodes">
  <div class="node" *ngFor="let node of legendSample!.nodes" [style.flex]="node.proportion * 1000">
    <div class="block" [style.backgroundColor]="node.color"></div>
    <div class="count">
      <ng-container *ngIf="node.proportion * 100 >= 10">{{ (node.proportion * 100) | number: '1.1-1' }}%</ng-container>
      <ng-container *ngIf="node.proportion * 100 < 10">{{ (node.proportion * 100) | number: '1.2-2' }}%</ng-container>
    </div>
  </div>
</div>
