<div class="page landing_page">
  <section class="section_gradient section_full2">
    <h2 class="left nopadding">What is</h2>
    <h1 class="left">PhyloDiver?</h1>

    <div class="columns">
      <div class="column intro">
        <p>PhyloDiver is a interactive tool for visualizing and exploring evolutionary phylogenies constructed from analyses of genetic variations in tumor samples. This tool was designed to simultaneously enable end-users to examine mutation histories while maintaining sample proportions of different <span class="nowrap">subclone populations.</span></p>
        <p>PhyloDiver's unique visualizations also connect to the underlying annotated mutations allowing for a comprehensive examination of the history, composition, and proportion of clonal subpopulations in <span class="nowrap">cancer tumors.</span></p>
      </div>

      <div class="column intro_diagram">
        <img src="assets/images/landing_screenshot_001.png" alt="tree explorer screenshot" />
      </div>
    </div>
  </section>

  <section class="section_padded">
    <h2>Getting Started</h2>

    <div class="block_list">
      <div class="block">
        <div class="block_title">Explore the Demo</div>

        <div class="block_content">
          <p>The PhyloDiver demo visualizes example data from an ultra-deep (300x-400x) bulk sequencing dataset containing the somatic mutations of a primary acute myeloid leukemia (AML) and its <span class="nowrap">subsequent relapse.</span></p>
          <p><a href="https://www.cell.com/fulltext/S2405-4712(15)00113-1" target="_blank">M. Griffith, et al.</a> "Optimizing cancer genome sequencing and analysis." <span class="nowrap">Cell systems. 2015</span></p>
        </div>

        <div class="block_button" routerLink="/demo" routerLinkActive="active">Take Me to the Demo!</div>
      </div>

      <div class="block">
        <div class="block_title">Visualize Your Data</div>

        <div class="block_content">
          <p>Upload the results of your phylogenic analysis workflow using the JSON format <span class="nowrap">specified here:</span></p>
          <p>
            <span class="link">JSON Format Documentation</span>
          </p>
          <p>Your uploaded data is secured locally in your browser and is not transferred across <span class="nowrap">the internet.</span></p>
        </div>

        <div class="block_button">Upload Your Data</div>
      </div>
    </div>
  </section>

  <section class="section_alt">
    <h2>How It Works</h2>

    <h3 class="left">Analysis Overview</h3>

    <p class="narrow">Many cancer phylogenics workflows analyze somatic variants from bulk sequencing of normal and tumor tissues.  These workflows identify clusters of related mutations and then construct an evolutionary tree (phylogeny) that explains the occurrence patterns of those mutation clusters in the sample data. PhyloDiver visualizes the predicted tumor mutational evolution, summarizes the unique mutations along each edge, and shows the cellular proportions of each <span class="nowrap">cancer subclone.</span></p>

    <div class="diagram">
      <img src="assets/images/landing_how_it_works_diagram.png" alt="components of tool diagram"/>
    </div>

  </section>

  <section>
    <h3 class="left">Data Exploration</h3>

    <p class="narrow">PhyloDiver includes many  features that enable users to explore the tree results and the genes and mutations present in the data. Users can click on any edge between nodes to scan mutation, gene and drug information and expand any edge to a <span class="nowrap">full table display.</span></p>

    <div class="diagram">
      <img src="assets/images/landing_screenshot_002.png" alt="interactive details screenshot" />
    </div>
  </section>

  <section>
    <h2>Documentation</h2>
    <p>Check out our repositories below for <span class="nowrap">more information:</span></p>

    <ul class="disc">
      <li>For this PhyloDiver phylogeny visualization application [<a href="https://github.com/ncsa/phylodiver-viz" target="_blank">GitHub</a>]</li>
      <li>For its accompanying phylogeny analysis workflow, PhyloFlow, [<a href="https://www.dockstore.org/workflows/github.com/ncsa/phyloflow/phyloflow_standalone:master" target="_blank">Dockstore</a>] [<a href="https://gallery.ecr.aws/?searchTerm=phyloflow" target="_blank">Container Repo</a>] [<a href="https://github.com/ncsa/phyloflow/tree/master" target="_blank">GitHub</a>]</li>
      <li>For information about the JSON file schema that connects the two [<span class="link">JSON Format Documentation</span>]</li>
    </ul>
<!--
    <div class="links">
      <div class="link">Go to Documentation</div>
      <div class="link">Go to Citations</div>
    </div>
-->
  </section>

  <footer>
<!--
    <div class="links">
      <div class="link">Contact</div>
    </div>
-->
    <p>PhyloDiver is developed by the <a href="http://vi-bio.ncsa.illinois.edu/" target="_blank">Visual Analytics Group</a> and <a href="https://www.el-kebir.net/" target="_blank">El-Kebir Lab</a> at the <a href="https://illinois.edu/" target="_blank">University of Illinois at Urbana-Champaign</a>, is supported by the <a href="https://cancer.illinois.edu/" target="_blank">Cancer Center of Illinois</a>, and is an open source project available on <a href="https://github.com/ncsa/phylodiver-viz" target="_blank">GitHub</a>. <span class="nowrap">Contact <a href="mailto:visualanalytics@illinois.edu">visualanalytics@illinois.edu</a></span></p>
  </footer>
</div>
