<div class="prototype_phylogeny_table">
    <div class="title">
        <div class="close_btn" (click)="$event.stopPropagation(); closeTable()"></div>
        <div class="label">Selected: </div>
        <div class="data_label">{{label || ''}}</div>
        <div class="edge_label" *ngIf="edgeLabel">{{edgeLabel}}</div>
        <div class="tier_label" (click)="$event.stopPropagation(); deselectConsequence()">
            <ng-container *ngIf="consequence">
                <span class="value" [title]="consequence">{{ consequence }}</span>
                <div class="close_icon"></div>
            </ng-container>
            <ng-container *ngIf="!consequence">
                All Consequences
            </ng-container>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th *ngFor="let column of tableColumns" [ngClass]="'column_' + column.cssSuffix">
                    {{column.label}}
                </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let row of tableRows">
                <tr *ngIf="!consequence || consequence === row.variant.consequence" (click)="$event.stopPropagation(); selectRow(row)">
                    <td *ngFor="let column of tableColumns" [ngClass]="'column_' + column.cssSuffix" [title]="column.accessor(row.variant, row.clusterId)">
                        {{ column.accessor(row.variant, row.clusterId) }}
                    </td>
                </tr>
            </ng-container>

            <tr *ngIf="!tableRows || tableRows.length === 0">
                <td [attr.colspan]="tableColumns.length">
                    ...
                </td>
            </tr>
        </tbody>
    </table>
</div>
