<div class="prototype_phylogeny_table">
    <div class="title">
        <div class="close_btn" (click)="$event.stopPropagation(); closeTable()"></div>
        <div class="label">Selected: </div>
        <div class="data_label">{{label || ''}}</div>
        <div class="tier_label" (click)="$event.stopPropagation(); deselectSeverity()">
            <ng-container *ngIf="severity">
                <span class="value" [title]="severity.label">{{ severity.label }}</span>
                <div class="close_icon"></div>
            </ng-container>
            <ng-container *ngIf="!severity">
                All Severities
            </ng-container>
        </div>
    </div>

    <p-table [value]="tableRows" [columns]="tableColumns" [paginator]="true" [rows]="200" [showCurrentPageReport]="true" responsiveLayout="scroll"
        sortMode="multiple" [customSort]="true" (sortFunction)="customSort($event)"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[50,100,200]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let column of columns" [ngClass]="'column_' + column.id" [pSortableColumn]="column.id">
                    {{column.label}}
                    <p-sortIcon [field]="column.id"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns>
            <tr *ngIf="!severity || severity === row.variant.severity" (click)="$event.stopPropagation(); selectRow(row)">
                <!-- TODO use filter instead of ngIf above, and use columns instead of tableColumns below (requires fixing ngFor error) -->
                <td *ngFor="let column of tableColumns" [ngClass]="'column_' + column.id" [title]="column.field(row)">
                    {{ column.field(row) }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
