/**************** single sample viewer ******************/

@use "sass:math";
@import '../../styles/core';


//**************** css ******************

.prototype_phylogeny_table {
	position: relative;

	margin: {
		right: auto;
		left: auto;
	}
	padding: ($padding * 3);
	padding: {
		top: $padding;
	}

	.close_btn {
		cursor: pointer;
		position: absolute;
		left: math.div($padding, 2); //$padding * 2;
		top: math.div($padding, 2);
		z-index: 100;

		padding: 20px;

		background: transparent inline-svg($svg_close, get_color(interface_border)) no-repeat center center;
		background: {
			size: 16px 16px;
		}

		border: 1px solid #aaa;

		@include border-radius(50%);

		&:hover {
			background: #3186d5 inline-svg($svg_close, #fff) no-repeat center center;
			background: {
				size: 16px 16px;
			}
		}
	}

	.title {
		display: flex;
		align-items: center;

		margin: {
			bottom: $padding;
		}

		font: {
			size: 110%;
		}

		.label {
			color: #fff;
			background: {
				color: color_variable('selected_color');
			}

			margin: {
				right: math.div($padding, 2);
			}
			padding: math.div($padding, 5) math.div($padding, 4);

			font: {
				weight: bold;
			}
		}

		.data_label,
		.edge_label {
		}

		.tier_label {
			display: flex;
			align-items: center;

			cursor: pointer;

			padding: {
				right: $padding;
			}

			font: {
				weight: bold;
			}

			white-space: nowrap;

			&:hover {
				color: get_color(primary);

				.close_icon {
					background: transparent inline-svg($svg_close, get_color(primary)) no-repeat center center;
					background: {
						size: 16px 16px;
					}
				}
			}

			.close_icon {
				display: block;

				width: 16px;
				height: 16px;

				margin: {
					left: $padding * .2;
				}

				background: transparent inline-svg($svg_close, get_color(interface_border)) no-repeat center center;
				background: {
					size: 16px 16px;
				}
			}
		}

		.edge_label {
			&:before {
				content: '';

				margin: {
					left: math.div($padding, 2);
				}
				padding: {
					left: math.div($padding, 2);
				}

				border: {
					left: 3px solid #ccc;
				}
			}

			&:after {
				content: '';

				margin: {
					left: math.div($padding, 2);
				}
				padding: {
					left: math.div($padding, 2);
				}

				border: {
					left: 3px solid #ccc;
				}
			}
		}
	}

	table {
		width: 100%;

		thead {
		}

		tbody {
			tr {
				cursor: pointer;

				&:hover {
					background-color: #f6e9eb;
				}

				&:first-child {
					td {
						padding: {
//							top: $padding;
						}

						border: {
							top: 2px solid #aaa;
						}
					}
				}
			}
		}

		th,
		td {
			padding: math.div($padding, 4) 8px;

			font: {
				size: 90%;
			}
			text: {
				align: left;
			}

			border: {
				bottom: 1px solid #eee;
			}

			&.column_reference,
			&.column_variant {
				text: {
					align: center;
				}
			}

			&.column_chr,
			&.column_start,
			&.column_strand,
			&.column_alldna_vaf,
			&.column_cgc_gene {
				text: {
					align: right;
				}
			}
		}

		th {
			font: {
				weight: bold;
			}

			vertical-align: bottom;
		}

		td {
			@include hide_overflow();
		}
	}
}
